* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #545454;
  margin: 0;
  padding: 5px;
}

p {
  line-height: 1.5;
  color: #7e7e7e;
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin-top: 24px;
  margin-top: 24px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: #4eacdd;
  opacity: 0.9;
}

#img-logo {
  cursor: pointer;
  height: 50px;
  padding-top: 10px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline-block;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 14px;
}

header nav a {
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  margin: 0 5px;
}

header nav a:hover {
  background-color: #fff;
  color: #4eacdd;
}

main {
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Lato';
  padding: 64px 8px;
}

.multicols {
  display: flex;
  flex-wrap: wrap;
}

.container>.texte,
.container>.image {
  width: 50%;
  vertical-align: top;
}

.texte blockquote {
  font-family: Lato, sans-serif;
  font-style: italic;
  font-size: 16.5px;
  color: #7e7e7e;
  line-height: 1.5;
  border-left: 8px solid #4eacdd;
  padding-left: 20px;
  margin: 0 0 20px;
}

.image img {
  max-width: 100%;
}

.bouton-blanc {
  background-color: transparent;
  color: rgb(78, 172, 221);
  border: 1px solid rgb(78, 172, 221);
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 32px;
}

.bouton-blanc:hover {
  background-color: rgb(78, 172, 221);
  color: #fff;
}

.plats {
  display: flex;
  flex-wrap: wrap;
}

.plats .plat {
  width: 33.3%;
  padding: 10px;
  text-align: center;
}

.plat img {
  max-width: 100%;
  height: 150px;
}

.plat input[type="number"] {
  max-width: 50%;
  width: 100px;
  font-family: 'Lato';
  padding: 5px;
  text-align: center;
}

.plat:first-of-type {
  animation: animation1 1.5s linear;
  position: relative;
}

.plat:last-of-type {
  animation: animation2 1.5s linear;
  position: relative;
}

.plat:nth-of-type(2) {
  animation: animation3 1.5s linear;
  position: relative;
}

@keyframes animation1 {
  from { left: 100%; opacity: 0; }
  to { left: 0; opacity: 1;}
}

@keyframes animation2 {
  from { left: -100%; opacity: 0; }
  to { left: 0; opacity: 1;}
}

@keyframes animation3 {
  from { top: 100%; opacity: 0; }
  to { top: 0; opacity: 1;}
}

.entete, .quantite {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.entete h3, .entete p {
  margin: 10px 0;
  line-height: 22px;
  color: black;
}

.quantite p {
  line-height: 30px;
  margin: 0 10px 0 0;
  color: black;
}

#affiche {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #4eacdd;
  text-align: center;
}

.sociaux {
  width: 32px;
  margin: 10px 16px;
  opacity: 0.4;
  transition: 0.5s;
}

.sociaux:hover {
  opacity: 1;
}