/* Styles pour le formulaire */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #3c3c3c;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Styles pour les messages */
  #msg {
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  #msg.success {
    background-color: #8bc34a;
    color: #fff;
  }
  
  #msg.error {
    background-color: #f44336;
    color: #fff;
  }
  