.container {
  width: 100px;
  margin: auto;
}

.container > div {
  margin: 10px 0;
}

#lampe {
  width: 100px;
  height: 100px;
  border: #777 solid 5px;
  border-radius: 50%;
}

button {
  display: block;
  width: 110px;
  border: none;
  padding: 10px 0;
}

#lampe.on {
  background-color: yellow;
}

#on.on,
#toggle.on {
  background-color: green;
  color: white;
}

#toggle,
#off.off {
  background-color: maroon;
  color: white;
}