* {
  box-sizing: border-box;
}

#date,
#time {
  font-size: 40pt;
  padding: 30px;
  margin: 65px auto;
  width: fit-content;
  text-align: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
  font-weight: bold;
  box-shadow: 0 0 10px 10px #fdbb2d66;
  border-radius: 20px;
  position: relative;
  font-family: 'Gill Sans MT';
}

#date::before, #time::before {
  content: "Date";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -44px;
  font-size: 20pt;
  color: #E91E63;
  font-family: 'Cambria';
  text-transform: uppercase;
}

#time::before {
  content: "Time";
  color: #4CAF50;
}