* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c4d8ed;
  color: #00377c;
  font-size: 17px;
  font-family: sans-serif;
}

#rib-band {
	background-color: #4c6793;
	color: white;
	margin: 50px 0;
}

form {
	width: 600px;
	margin: 0 auto;
	padding: 50px 0;
}

#valid-rib {
	padding: 10px 30px;
	border-radius: 0;
	border: none;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	background-color: #00823a;
}

#rib {
	padding: 10px;
	font-size: 17px;
	border-radius: 0;
	border: #5d3cb5 solid 1px;
	margin: 0 13px;
	width: 299px;
}

h1 {
	text-align: center;
	margin: 2em 0 1em;
	text-transform: uppercase;
}

.wrong {
  color: maroon;
}

.valid {
  color: green;
}

#res {
  text-align: center;
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
}