body {
    background-color: violet;
    text-align: center;
  }
  
  form {
    background-color: rgb(181, 31, 231);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 30px rgb(158, 32, 243);
    color: white;
    font-size: 20px;
    width: fit-content;
    margin: 20px auto;
  }
  
  #res {
    background-color: rgb(181, 31, 231);
    width: fit-content;
    margin: auto;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
  }